:root{
    --darkblue:#29455B;
    --white:#ffffff;
    --darkbluepass:#00204a;
    --blue:#4BD3EF;
    --lightblue:#E9F6FE;
    --gray:#F6F6F6;
    --lightgray:#29455b14;
    --darkgray-menu:#29455B85;
    --darkgray-menu-title:#29455B;
    --darkgray:#29455B85;
}